<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurity04Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="spring-security-04" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.snehasish.springsecurity04.SpringSecurity04Application" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>